    <form action="/cadUsuario" method="POST" enctype="multipart/form-data">
        <div class="form-row">
            <div class="form-group col-md-3">
                <label for="inputNome">Nome completo</label>
                <input name="nomeCompleto" type="text" class="form-control" placeholder="Ong gotinha de amor">
            </div>
            <div class="form-group col-md-3">
                <label for="inputCPF">CNPJ</label>
                <input name="cpf_cnpj" type="text" class="form-control" placeholder="26.115.301/0001-54">
            </div>
            <div class="form-group col-md-3">
                <label for="inputTelefone">Telefone</label>
                <input name="telefone" type="text" class="form-control" placeholder="54984284011">
            </div>             
        </div>
        <div class="form-row">
            <div class="form-group col-md-5">
                <label for="inputEmail">Email</label>
                <input name="email" type="email" class="form-control" id="inputEmail4" placeholder="Email">
            </div>
            <div class="form-group col-md-5">
                <label for="inputSenha">Senha</label>
                <input name="senha" type="password" class="form-control" id="inputPassword4" placeholder="Senha">
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-6">
                <label for="inputEndereco">Endereço</label>
                <input name="endereco" type="text" class="form-control" id="inputAddress" placeholder="Rua dos Lobos, nº 0">
            </div>
            <div class="form-group col-md-6">
                <label for="inputEndereco">Foto</label>
                <input name="foto" type="file" class="form-control" id="inputAddress" placeholder="Escolha uma foto">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-4">
                <label for="inputCidade">Cidade</label>
                <input name="cidade" type="text" class="form-control" id="inputCity" placeholder="Erechim">
            </div>
            <div class="form-group col-md-4">
                <label for="inputEstado">Estado</label>
                <select name="estado" id="inputEstado" class="form-control">
                    <option value="RS">Rio Grande do Sul</option>
                    <option value="SC">Santa Catarina</option>
                    <option value="PR">Paraná</option>
                    <option value="SP">São Paulo</option>
                    <option value="AC">Acre</option>
                    <option value="AL">Alagoas</option>
                    <option value="AP">Amapá</option>
                    <option value="AM">Amazonas</option>
                    <option value="BA">Bahia</option>
                    <option value="CE">Ceará</option>
                    <option value="DF">Distrito Federal</option>
                    <option value="ES">Espírito Santo</option>
                    <option value="GO">Goiás</option>
                    <option value="MA">Maranhão</option>
                    <option value="MT">Mato Grosso</option>
                    <option value="MS">Mato Grosso do Sul</option>
                    <option value="MG">Minas Gerais</option>
                    <option value="PA">Pará</option>
                    <option value="PB">Paraíba</option>
                    <option value="PE">Pernambuco</option>
                    <option value="PI">Piauí</option>
                    <option value="RJ">Rio de Janeiro</option>
                    <option value="RN">Rio Grande do Norte</option>
                    <option value="RO">Rondônia</option>
                    <option value="RR">Roraima</option>
                    <option value="SE">Sergipe</option>
                    <option value="TO">Tocantins</option>
                </select>
            </div>
            <div class="form-group col-md-2">
                <label for="inputCEP">CEP</label>
                <input name="cep" type="text" class="form-control" id="inputCEP" placeholder="99700-000">
            </div>
        </div>
        <div class="form-group">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="gridCheck">
                <label class="form-check-label" for="gridCheck">
                Clique em mim
                </label>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Entrar</button>
    </form>

    <table class="table" >
    <tr>
        <th>Nome Completo</th>
        <th>Email</th>
        <th>Senha</th>
        <th>Foto</th>
        <th>Telefone</th>
        <th>Endereço</th>
        <th>Cidade</th>
        <th>Estado</th>
        <th>Cep</th>
        <th>CPF/CNPJ</th>
        <th>Atualizar</th>
        <th>Excluir</th>
    </tr>
    {{#each doador}}
    <tr>
        <td><img src="/static/{{foto}}"></td>
        <td>{{nome}}</td>
        <td>{{senha}}</td>
        <td><a href="/update/{{id}}">Modificar</a></td>
        <td>
                <form method="POST" action="/delete" style="display: incline;" onsubmit="confirmarDelecao(event, this)">
                <input type="hidden" name="id" value="{{id}}">
                <button class="btn btn-danger">Excluir</button>
    </form>
        </td>
    </tr>
    {{/each}}
    </table>
    
    <script>
        function confirmarDelecao(event, form){
            event.preventDefault();
            var decision = confirm("Tem certeza em deletar esse Usuário?")
            if(decision){
                form.submit();
            }
        }
    </script>