<!DOCTYPE html>
<html lang="pt">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Perfil ONG</title><br><br><br>
</head>
  <body>
    <form action="/cadOng" method="POST" >
<table class="table">
  <tr>
    <th></th>
    <th>Nome / Razão Social</th>
    <th>Endereço</th>
    <th>Bairro</th>
    <th>Número</th>
    <th>Cidade</th>
    <th>Email</th>
    <th>whatsapp</th>
    <th>Telefone fixo</th>
  </tr>
  {{#each ong}}
<tr>
    <td><img src="/public/Imagens/{{foto}}" height="100px" width="100px"></td>
    <td>{{razaoSocial}}</td>
    <td>{{endereco}}</td>
    <td>{{bairro}}</td>
    <td>{{numero}}</td>
    <td>{{cidade}}</td>
    <td>{{email}}</td>
    <td>{{whatsapp}}</td>
    <td>{{telefoneFixo}}</td>
</tr>
 {{/each}}
</table>