{{#each usuario2}}
<h1>ola {{'pessoa.nome'}}</h1>
<ul>
    <li><b>Seu nome de Pessoa: {{'pessoa.nome'}}</b></li>
    <li><b>Endereço: {{'pessoa.endereco'}}</b></li>
    <li><b>CPF: {{'pessoa.cpf'}}</b></li>
    <li><b>Nome Usuario:</b> {{usuario}}</li>
</ul>
{{/each}}
<hr></hr>